{% extends "./layout.html" %} {% block title %}Courses{% endblock %} {% block content %}

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    รายวิชาที่ลงทะเบียน
                    <strong>ภาคเรียนที่ 2 ปีการศึกษา 2564</strong>
                </h3>
            </div>
            <div class="panel-body">



                <div class="table-responsive">
                    <form method="POST" action="/courses">
                        <table class="table table-bordered table-hover tablesorter">
                            <thead>
                                <tr>
                                    <th>รหัสวิชา</th>
                                    <th>ชื่อวิชา</th>
                                    <th>หน่วยกิต</th>
                                    <th>สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in data %}
                                <tr>
                                    <td>{{ c['course_id'] }}</td>
                                    <td>{{ c['title'] }}</td>
                                    <td>{{ c['credit'] }}</td>
                                    <td>{{ c['status'] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- Fix for A8 - CSRF -->
                        <!--
                        <input type="hidden" name="_csrf" value="{{csrftoken}}"></input>
                        -->
                        <button type="button" class="btn btn-default" disabled>เพิ่มรายวิชา</button>

                    </form>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>
</div>

{% endblock %}