{% extends "./layout.html" %} {% block title %}Dashboard{% endblock %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-1">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-11">
                        <p style="font-size: 20px;" class="announcement-text">มาถึงแล้ว! โอกาสถอนรายวิชาแบบบันทึกอักษร W สำหรับนักศึกษาระดับปริญญาตรี 🔥 ผ่านระบบ https://sis.psu.ac.th/ ได้ ภายในวันที่ 13 มีนาคม 2565 เวลา 23.59 น. </p>
                    </div>
                </div>
            </div>
            <a href="/contributions">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            ใครไหวไปก่อนเลย แต่ถ้าไม่ไหว มหา'ลัยมีให้ถอน! 😂
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->


<!-- /.row -->


{% endblock %}